// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



body {
  /* background: #CCC; */
 background: radial-gradient(ellipse farthest-side at 100% 100%, #F8FFF3 10%, #85D8CE 50%, #085078 120%);

  /*background-image: url(background.jpg); */
  background-size: cover;
  background-size: 100%;
  color: #222;
  /*font: 12px Raleway, Arial, sans-serif; */
  /* font-family: 'Arial', sans-serif; */
  font: 500 15px "helvetica neue", helvetica, arial, sans-serif;
  /* font-weight: 400;
  font-size: 1.6rem; */
  /* margin: 20px auto;
  width: 500px; */
}
a {
  color: #FFF;
  font-style: bold;
  text-decoration: none !important;
  font-family: 'Arial', sans-serif;
  font-weight: 100;
  font-size: 1.8rem;
  /* text-shadow: 1px 1px #000; */

}


a.a-normal {
  color: #FFF;
  /*font: 12px Raleway, Arial, sans-serif; */
  /* font-family: 'Arial', sans-serif; */
  font: 500 15px "helvetica neue", helvetica, arial, sans-serif;
}

img.logo {
  max-width: 25%;
  padding-top: 20px;
  padding-bottom: 20px;
}



.container {
  width: auto;
}


h1 {
  color: #428bca;
  
  /* text-shadow: 2px 2px #DDD; */
}

.add-a-job {
  padding-top: 50px;
}

.btn-success {
    color: #fff;
    background-color: #111;
    border-color: #FFF;
    }


hr.black {
  /* border-top: 1px solid #000; */
  border: 1px dotted rgba(255,255,255,0.15);
}

.movie-icon {
  width: 35px;
  padding-bottom: 5px;
}

.box {
      border: 1px solid rgba(255,255,255,0.15);
    padding: 20px 20px 20px 20px;
    margin: 0 0 20px;
    border-radius: 7px;
}

/*
.jobs {
   border: 1px solid rgba(255,255,255,0.15);
    padding: 10px 10px 10px 10px;
    margin: 0 0 20px;
    border-radius: 7px;
}
*/

.jobs {
text-align: center;

}

/*
.tweets {
      border: 1px solid rgba(255,255,255,0.15);
    padding: 20px 20px 20px 20px;
    margin: 0 0 0px;
    border-radius: 7px;
}
*/


#footer {
  height: 60px !important;
     margin: 0 auto -60px;
}

p.footer {
  font-size: 10px;
}

.navbar-default {
  background-color: transparent;
  border-color: transparent;

}

.navbar-right {
  margin-right: 100px
}



h2 a {
  color: #111;
  font-size: 3rem;
}

.icon-logo {
  margin-left: 50px;
  /*margin-top: 15px; */
}


.main-logo img {
  margin-left: -150px;
}


.container.tim-container {
  background: radial-gradient(ellipse farthest-side at 0% 50%, #F8FFF3 10%, #85D8CE 10%, #085078 120%);
}

.heading {
  padding-top: 50px;
  padding-bottom: 50px;
}


.search {
  padding-top: 50px;
  padding-bottom: 50px;
}


p, h2, h3 {
  color: #FFF
}

p {
  margin: 0px;
}

.listings h3 {
  margin: 0px 0 10px;
}

.listings h2 {
  margin: 0px;
}

p.company {
  font-size: 11px;
}

p.url {
  font-size: 11px;

}

hr.listings {

}
