<div id="footer">
  <div class="container-fluid">
    <div class="row">
    <br>
    <p class="footer">© 2016 soundtracks.io | Design by <a class="a-normal" href="http://digitalhub.io">digitalhub.io</a> | A <a class="a-normal" href="http://musician.io">musician.io</a> company</p>
    <br>
    </div>
  </div>
</div>
