<nav class="navbar navbar-default navbar-transparent navbar-fixed-top" role="navigation">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar bar1"></span>
                <span class="icon-bar bar2"></span>
                <span class="icon-bar bar3"></span>
              </button>
              <a id="timLink" href="/">
                   <div class="logo-container">
                        <div class="icon-logo">
                            <%= image_tag("soundtracks-cinema-logo-small.png", width: '100') %> 
                        </div>
                    </div>
              </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" data-nav-image="assets/img/bg4.jpg">
              <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                          <a href="#" class="dropdown-toggle btn btn-simple btn-neutral" data-toggle="dropdown">
                            Soundtracks.io
                            <b class="caret"></b>
                          </a>
                           <ul class="dropdown-menu dropdown-with-icons">
                            
                            <li>
                                <a href="/home">
                                    <i class="pe-7s-home"></i> Home
                                </a>
                            </li>
                            <li>
                                <a href="/blog-page">
                                    <i class="pe-7s-comment"></i> Blog
                                </a>
                            </li>
                            
                            <li>
                                <a href="/contact-us">
                                    <i class="pe-7s-mail-open-file"></i> Contact Us
                                </a>
                            </li>
                            <li>
                                <a href="/about-us">
                                    <i class="pe-7s-info"></i> About Us
                                </a>
                            </li>
                            
                          </ul>
                    </li>
                    <!--
                    <li>
                        <button onclick="window.location.href=''" id="buyButton" class="btn btn-round btn-warning btn-fill">Buy Now</button>
                    </li>
                -->
               </ul>

            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
